streamlit==1.31.1
opencv-python-headless==4.8.0.76
numpy==1.24.4
pandas==2.1.4
pillow==10.2.0
requests==2.31.0
fastapi==0.110.0
uvicorn==0.25.0
python-multipart==0.0.9
pydeck==0.8.1b0
altair==5.5.0
protobuf==4.25.2
GitPython==3.1.43
watchdog==3.0.0
